[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"f5ec833" = {file = "https://github.com/horoscofox/pyhoroscofox/archive/master.zip"}
apistar = "*"
"boto3" = "*"
zappa = "*"
apistar-cors-hooks = "*"
pip = "==10.0.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"
aws-sam-cli = "*"

[requires]
python_version = "3.6"
