[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"f5ec833" = {file = "https://github.com/horoscofox/pyhoroscofox/archive/master.zip"}
mongoengine = "*"
apistar = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"
codecov = "*"
mongomock = "*"
"boto3" = "*"

[requires]
python_version = "3.6"
