[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"
aws-sam-cli = "*"
v = {editable = true,version = "*"}

[packages]
horoscofox = {file = "https://github.com/horoscofox/pyhoroscofox/archive/master.zip"}
"boto3" = "*"
zappa = "*"
apistar-cors-hooks = "*"
pip = "==20.4"
apistar = "==0.5.41"

[requires]
python_version = "3.8"
